<{* Dev-Mode Toggle *}>
<{if $xoops_isadmin}><div class="ui-dev-mode"><{$smarty.template}></div><{/if}>

<form action="index.php?action=BlockEdit" method="post">

<article>

    <header>
        <h2 class="admintitle"><{$smarty.const._AD_LEGACY_LANG_BLOCK_EDIT}></h2>
    </header>

<{if $actionForm->hasError()}>
<div class="alert error">
    <ul>
        <{foreach item=message from=$actionForm->getErrorMessages()}>
        <li><{$message|xoops_escape}></li>
        <{/foreach}>
    </ul>
</div>
<{/if}>

    <{xoops_token form=$actionForm}>
    <{xoops_input type=hidden name=bid value=$actionForm->get('bid')}>
    <{if !$hasVisibleOptionForm && $optionForm != null}>
    <{$optionForm}>
    <{/if}>
    <table class="outer">
        <tr>
            <td><{$smarty.const._AD_LEGACY_LANG_NAME}></td>
            <td>
            <{$object->get('name')|xoops_escape}>
            </td>
        </tr>
        <tr>
            <td><{$smarty.const._AD_LEGACY_LANG_TITLE}></td>
            <td>
            <{xoops_input type=text name=title value=$actionForm->get('title') size=50 maxlength=255}>
            </td>
        </tr>
        <tr>
            <td><{$smarty.const._AD_LEGACY_LANG_SIDE}></td>
            <td>
            <select name="side">
                <{xoops_optionsArray id=side from=$columnSideArr label=name value=id default=$actionForm->get('side')}>
            </select>
            </td>
        </tr>
        <tr>
            <td><{$smarty.const._AD_LEGACY_LANG_WEIGHT}></td>
            <td>
            <{xoops_input type=text name=weight value=$actionForm->get('weight') size=5 class=legacy_list_number}>
            </td>
        </tr>
        <tr>
            <td><{$smarty.const._AD_LEGACY_LANG_BCACHETIME}></td>
            <td>
            <select name='bcachetime'>
                <{xoops_optionsArray id=bcachetime from=$cachetimeArr value=cachetime label=label default=$actionForm->get('bcachetime')}>
            </select>
            </td>
        </tr>
        <tr>
            <td><{$smarty.const._AD_LEGACY_LANG_TARGET_MODULES}></td>
            <td>
            <select  size='5' name='bmodule[]' multiple='multiple'>
                <{xoops_optionsArray id=bmodule[] from=$moduleArr value=mid label=name default=$actionForm->get('bmodule')}>
            </select>
            </td>
        </tr>
        <tr>
            <td><{$smarty.const._AD_LEGACY_LANG_TARGET_GROUPS}></td>
            <td>
            <select  size='5' name='groupid[]' multiple='multiple'>
                <{xoops_optionsArray id=groupid[] from=$groupArr value=groupid label=name default=$actionForm->get('groupid')}>
            </select>
            </td>
        </tr>
        <{if $hasVisibleOptionForm && $optionForm != null}>
        <tr>
            <td><{$smarty.const._AD_LEGACY_LANG_OPTIONS}></td>
            <td>
            <{$optionForm}>
            </td>
        </tr>
        <{/if}>
    </table>

    <footer class="action-control">
        <input class="outline" type="submit" value="<{$smarty.const._BACK}>" name="_form_control_cancel">
        <input class="primary" type="submit" value="<{$smarty.const._SUBMIT}>">
    </footer>

</article>
</form>
