<{* Dev-Mode Toggle *}>
<{if $xoops_isadmin}><div class="ui-dev-mode"><{$smarty.template}></div><{/if}>



<article class="widget">

    <header>
        <h3>[ID: <{$object->getShow('instance_id')}>] <{$object->getShow('title')}> (<{$object->getShow('type')}>)
           <span> <a class="btn" href="<{xoops_cooluri dirname=$dirname dataname=instance data_id=$object->get('instance_id') action=edit}>" data-tooltip="<{$smarty.const._EDIT}>">
               <img class="svg edit" src="<{$xoops_url}>/images/icons/edit.svg" width="1em" height="1em" alt="edit"></a>
            <a class="btn" href="<{xoops_cooluri dirname=$dirname dataname=block data_id=$object->getShow('instance_id') action=edit}>" data-tooltip="<{$smarty.const._MD_WIDGET_LANG_BLOCK}><{$smarty.const._ADD}>">
                <img class="svg block" src="<{$xoops_url}>/images/icons/block-plus.svg" width="1em" height="1em" alt="block"></a></span>
        </h3>
        <p><{include file="db:`$dirname`_inc_menu.html"}></p>
    </header>

<h3><{$smarty.const._PREVIEW}></h3>

    <div>
        <{xoops_widget dirname=$dirname widget_id=$object->get('instance_id')}>
    </div>

    <h3><{$smarty.const._MD_WIDGET_LANG_OPTIONS}></h3>

    <dl class="dl-horizontal">
        <{foreach item=field from=$object->mPlugin.options.field}>
        <dt><{$object->getOptionTitle($field)}></dt>
        <dd><{$object->getOptionValue($field)}></dd>
        <{/foreach}>
    </dl>

    <h3><{$smarty.const._MD_WIDGET_LANG_BLOCKLIST}></h3>
    <table class="table">

        <tbody>
        <tr>
        <th class="list-order"><{$smarty.const._MD_WIDGET_LANG_BID}></th>
        <th><{$smarty.const._MD_WIDGET_LANG_BLOCK_TITLE}></th>
        <th class="list-order"><{$smarty.const._MD_WIDGET_LANG_VISIBLE}></th>
        <th class="list-order"><{$smarty.const._MD_WIDGET_LANG_IS_ACTIVE_BLOCK}></th>
        <th class="list-order"><{$smarty.const._MD_WIDGET_LANG_BLOCK_SIDE}></th>
        </tr>
        <{foreach item=wblock from=$blockList}>
        <{assign var=bid value=$wblock->get('bid')}>
        <tr>
        <td class="list-order"><{$wblock->get('bid')}></td>
        <td><{$wblock->get('title')}>
            <a class="i-edit" href="<{xoops_cooluri dirname=$dirname dataname=block action=edit query="bid=$bid"}>">
                <img class="svg edit" src="<{$xoops_url}>/images/icons/edit.svg" width="1em" height="1em" alt="edit"></a>
            <a class="i-delete" href="<{xoops_cooluri dirname=$dirname dataname=block query="bid=$bid" action='uninstall'}>" data-tooltip="<{$smarty.const._MD_WIDGET_LANG_UNINSTALL_BLOCK}>">
                <img class="svg delete" src="<{$xoops_url}>/images/icons/delete.svg" width="1em" height="1em" alt="delete"></a>
        </td>
        <td class="list-order"><{if $wblock->get('visible')==1}><{$smarty.const._YES}><{else}><{$smarty.const._NO}><{/if}></td>
        <td class="list-order"><{if $wblock->get('isactive')==1}><{$smarty.const._YES}><{else}><{$smarty.const._NO}><{/if}></td>
        <td class="list-order"><{$wblock->get('side')}></td>
        </tr>
        <{/foreach}>
        </tbody>
    </table>

</article>
