<{* Dev-Mode Toggle *}>
<{if $xoops_isadmin}><div class="ui-dev-mode"><{$smarty.template}></div><{/if}>

<form class="form-horizontal" action="<{xoops_cooluri dirname=$dirname dataname=instance action=delete}>" method="post">

    <article class="widget">

    <header>
        <h2><{$smarty.const._MD_WIDGET_LANG_INSTANCE_DELETE}></h2>
    </header>

    <div class="alert warning"><{$smarty.const._MD_WIDGET_MESSAGE_CONFIRM_DELETE}></div>


        <dl class="dl-horizontal">
            <dt><{$smarty.const._MD_WIDGET_LANG_INSTANCE_ID}></dt>
            <dd><{$object->getShow('instance_id')}></dd>
            <dt><{$smarty.const._MD_WIDGET_LANG_TITLE}></dt>
            <dd><{$object->getShow('title')}></dd>
            <dt><{$smarty.const._MD_WIDGET_LANG_TYPE}></dt>
            <dd><{$object->getShow('type')}></dd>
            <dt><{$smarty.const._MD_WIDGET_LANG_TEMPLATE}></dt>
            <dd><{$object->getShow('template')}></dd>
            <dt><{$smarty.const._MD_WIDGET_LANG_OPTIONS}></dt>
            <dd><pre><code><{$object->getShow('options')}></code></pre></dd>
            <dt><{$smarty.const._MD_WIDGET_LANG_POSTTIME}></dt>
            <dd><{$object->getShow('posttime')|xoops_formattimestamp:m}></dd>
        </dl>
        <footer class="action-control">
            <{xoops_token form=$actionForm}>
            <{xoops_input type=hidden name=instance_id value=$actionForm->get('instance_id')}>
            <button type="submit" class="outline" value="<{$smarty.const._CANCEL}>" name="_form_control_cancel"><{$smarty.const._CANCEL}></button>
            <button type="submit" class="outline secondary delete" value="<{$smarty.const._DELETE}>"><{$smarty.const._SUBMIT}></button>
        </footer>

</article>

</form>
